Anton Kosyakov          <anton.kosyakov@typefox.io>
Liang Huang         <liang.huang@ericsson.com>
Liang Huang         <lhuang4@ualberta.ca>
Florent Benoit      <fbenoit@redhat.com>
Naxin Fang          <naxin.fang@ericsson.com>
Jan Bicker          <jan.bicker@typefox.io>
Sven Efftinge       <sven.efftinge@typefox.io>
Miro Spönemann      <miro.spoenemann@typefox.io>
Vincent Fugnitto    <vincent.fugnitto@ericsson.com> 
Patrick Guilbert    <patrick.pollo.guilbert@ericsson.com>
Marc-Andre Laperle  <malaperle@gmail.com>
Josh Pinkney        <josh.pinkney@mail.utoronto.ca>
guy perron          <guy.perron@ericsson.com>
Marc Dumais         <marcdumais-work@users.noreply.github.com>
Feng Qingxue        <948699357@qq.com>
Joshua Bradley      <jgbradley1@gmail.com>
Jan Köhnlein        <jan.koehnlein@typefox.io>
Anas Shahid         <muhammad.shahid@ericsson.com>
Paul Maréchal       <marechap.info@gmail.com>
Antoine Tremblay    <antoine.tremblay@ericsson.com>
Antoine Tremblay    <hexa00@gmail.com>
Vlad Zhukovskyi     <vzhukovs@redhat.com>
Vitaliy Gulyy       <vgulyy@redhat.com>
Vitaliy Gulyy       <vguliy@codenvy.com>
Josh Pinkney        <josh.pinkney@mail.utoronto.ca>
Muhammad Anas Shahid    <muhammad.shahid@mail.mcgill.ca>
Muhammad Anas Shahid    <muhammad.shahid@ericsson.com>
